extends ../../layout/main-layout.pug

block content
    include ../../layout/user-profile-layout.pug
        block userContent
            .container 
                .userOrders 
                    h4 İade Edilen Ürünlerim
                    each order in orders
                        .tableContainer
                            table.table.table-striped.table-orders
                                thead.userOrderTheadContainer           
                                    tr
                                        th Sipariş No: #{order.orderId}
                                        th Sipariş Tarihi: #{order.createdAtFormatted}
                                tbody    
                                    tr
                                        td(colspan="5")
                                            table.table.table-striped
                                                thead.allOrdersThead
                                                    tr
                                                        th Ürün 
                                                        th Adet
                                                        th Fiyat
                                                        th Ürün Resmi
                                                        th Durum
                                                tbody.allOrdersTbody
                                                    if order.products.length > 0
                                                        each product in order.products
                                                            tr
                                                                td #{product.name}
                                                                td #{product.quantity}
                                                                td #{product.price}₺
                                                                td 
                                                                    img(src=`${product.imageUrl}`, alt="" style="width:100px; height:80px;")
                                                                td
                                                                    if product.isReturned === true
                                                                        | İptal Talebiniz Alındı
                                                                    else
                                                                        | 
                                                    else 
                                                        tr
                                                            td(colspan="5")
                                                                h1 Henüz bir iaden yok...
