extends ../../layout/main_layout.pug

block content
    .container.incomingOrdesPage
        h1 Gelen Siparişler

        if orders.length > 0
            form(action="/searchIncomingOrders", method="GET" class="mb-3")
                .form-group.searchOrdersContainer
                    
                    input#searchInput.form-control.searchOrders(type="text" name="searchQuery" placeholder="İsim veya Sipariş Numarası girin")
            each order in orders
                table.table.table-striped.mb-5.mt-5(style="border:2px solid black;")
                    thead
                        tr
                            th(colspan=5) Sipariş Numarası: #{order.orderId}
                    tbody
                        each product in order.products
                            tr
                                td(colspan=2) Ürün Adı: #{product.name}
                                td
                                    img(src=`${product.imageUrl}`, alt="", style="width:100px; height:100px;")
                                td Fiyat: #{product.price} TL
                                td Adet: #{product.quantity}
                    thead
                        tr
                            th(colspan=5) Alıcı Bilgileri
                    tbody
                        tr
                            td(colspan=2) Kullanıcı Adı:
                            td(colspan=3) #{order.userId.name}
                        tr
                            td(colspan=2) Soyadı:
                            td(colspan=3) #{order.userId.surname}
                        tr
                            td(colspan=2) Email:
                            td(colspan=3) #{order.userId.email}
                        tr
                            td(colspan=2) Telefon:
                            td(colspan=3) #{order.userId.phone}
                        tr
                            td(colspan=2) Adres:
                            td(colspan=3) #{order.address.fullAddress}
                        tr
                            td(colspan=5)
                                form(action=`/incomingOrders/${order._id}` method="POST")
                                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                                    input(type="hidden" name="orderId" value=order._id)
                                    .form-group.row
                                        label(for='courier').col-sm-2.col-form-label Kargo Firması:
                                        .col-sm-10
                                            select(name="courier")
                                                option(value="Yurtiçi Kargo") Yurtiçi Kargo
                                                option(value="Aras Kargo") Aras Kargo
                                                option(value="Mng Kargo") Mng Kargo
                                                option(value="Ptt Kargo") Ptt Kargo
                                    .form-group.row
                                        label(for='trackingNumber').col-sm-2.col-form-label Kargo Takip Numarası:
                                        .col-sm-10
                                            input(type="text" name="trackingNumber" placeholder="Kargo Takip Numarası")
                                    .form-group.row
                                        .col-sm-10.offset-sm-2
                                            input(type="submit" value='Gönder').btn.btn-primary
        else 
            .container.orderMessage 
                img(src='/img/orderMessage.png', alt="")
